@page "/about"

<PageTitle>カイロプラクティックとは - カイロ&エステ sunny</PageTitle>

<section>
  <h1 class="sunny-title">カイロプラクティックとは</h1>
</section>

<section>
  <blockquote class="sunny-reference">
    <p>
      「<strong>chiropractic</strong>, <strong>chiro</strong>=もとギリシア語で手の意」<br>
      背骨や骨盤を徒手によって整える治療法。<br>
      「広義では、薬物や手術による方法を除く、体操、食餌（しょくじ）、物理療法を指す。」
    </p>
  </blockquote>
  <p>出典：<cite>新明解国語辞典 小型版 2012年1月10日第7刷発行 山田忠男 発行所三省堂</cite></p>

  <p>
    〘 カイロプラクティック 〙という言葉を<br>
    日本語に直訳すると〘 手技 〙になります。
  </p>
  <p>
    上の国語辞典の内容をもっと分かりやすく言うと、<br>
    身体の歪みを全て手（手技）で整えていき、<br>
    更に、正しい姿勢が身につくような<br>
    「運動（=体操）、食べる（=栄養）、寝る（=物理療法）」の実践です。
  </p>
  <p>
    これら「<strong>運動</strong>、<strong>食べる</strong>、<strong>寝る</strong>」は誰もが皆行う日常ではないでしょうか？
  </p>
  <p>
    便利な世の中になりましたが運動できていますか？<br>
    過不足なく栄養バランスの取れた食事ができていますか？<br>
    質のいい睡眠が取れていますか？ぐっすり眠れていますか？<br>
    寝起きが悪かったり、朝起きて身体の痛いところはないですか？<br>
    ドキッとしたそこのあなた、<br>
    正しい生活習慣（=<strong>身体に負担のない生活</strong>）を身につけたくないですか？
  </p>
  <p>
    sunny☀では、施術を行いながら、<br>
    日々の生活習慣についてもアドバイスさせていただきますので、<br>
    正しい生活習慣を身につけて、正しい姿勢を身に付ける事が可能です( *˙ω˙*)و<br>
    今こそ身体に無理のない快適生活を送っちゃいましょう〜✨<br>
    嬉しいことに美姿勢と美肌の両方が手に入りますよ( ･ᴗ･ )♪
  </p>
</section>

@* <p role="status">Current count: @currentCount</p>

  <button class="btn btn-primary" @onclick="IncrstrongentCount">Click me</button>

  @code {
  private int currentCount = 0;

  private void IncrstrongentCount()
  {
  currentCount++;
  }
  } *@
