@page "/about"

<PageTitle>about</PageTitle>

<h1>About chiropractic</h1>

<p>Comming soon...</p>

@* <p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
} *@
