@page "/about"

<PageTitle>about</PageTitle>

<section>
<h1 class="sunny-title">カイロプラクティックとは</h1>
</section>

<p>Comming soon...</p>

@* <p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
} *@
