@page "/"

<PageTitle>カイロ&エステ sunny☀</PageTitle>

<section>
  <h1 class="sunny-title">カイロ&エステ sunny☀</h1>
  <img src="images/Top.jpg" alt="Top Image" />
</section>

<section>
  @* <h2 class="sunny-subtitle">sunny☀ってどんなお店？</h2>

    <p>
    女性による女性のための女性専門店であり<br>
    あなたのお悩みに寄り添う、優しい施術のお店です♪
    </p> *@

  <h2 class="sunny-subtitle">sunny☀は女性による女性のための、優しい施術のお店です。
  </h2>


  @* <p>身体の歪みの原因は骨盤の歪み</p>
    <p></p> *@
  <p>
    sunnyでは骨盤の歪みを調整し、お客様一人一人のお悩みに合わせた施術を<br>
    優しくオールハンドで行います☆°｡⋆⸜(*'꒳'* )⸝
  </p>
  <p></p>
  <p>
    エステメニューについても、トリートメントの前に骨盤の歪みチェック&調整後を行います。<br>
    お肌だけでなく、身体も大喜びです♡
  </p>
</section>

<section>
  <h2 class="sunny-subtitle">こんな方にオススメです◎</h2>

  <ul>
    <li>肩こり、腰痛、首痛、膝痛など慢性的な症状</li>
    <li>猫背やストレートネックなど姿勢の悩み</li>
    <li>骨盤ダイエットをやってみたい</li>
    <li>肌荒れをどうにか改善したい</li>
    <li>理想の美ボディになりたい</li>
    <li>産後の骨盤調整 などなど</li>
  </ul>

  <p>
    上記に当てはまらない方も、あなたの悩みをぜひ教えてください。<br>
    一緒に解決しましょう！
  </p>
  @* <p>
    あなたの人生を明るく照らします☀*.<br><br>
    </p> *@
  <p>
    @* 美しく！元気に！なりたい方も♡<br> *@
    ぜひ、お気軽にお試しください♡♪
  </p>
</section>

<section>
  <h2 class="sunny-subtitle">店舗詳細</h2>

  <p>
    完全予約制ですのでご予約をお願い致します。<br>
    ※詳細な場所はご予約時説明※
  </p>

  <ul>
    <li>女性専門</li>
    <li>完全予約制</li>
    <li>不定休</li>
    <li>支払方法：現金、visa、master、楽天カード<br>
      （※施術のお支払いは現金のみ。）</li>
    <li>営業時間：10時～16時</li>
    <li>最寄り駅：﻿長崎本線 「長与駅」徒歩10分</li>
    <li>駐 車 場：敷地内に1台あり</li>
  </ul>
</section>

<div class="alert alert-secondary mt-4">
  <strong>
    <p>カイロ&エステ sunny</p>
    <p>完全予約制</p>
    <p></p>
    <p>長崎県西彼杵郡長与町吉無田郷</p>
    <p>※詳細な住所はご予約時にお伝えします</p>
    <p></p>
    <p>カイロプラクター＆エステティシャン</p>
    <p>たけつぐ あやみ</p>
  </strong>
</div>
