@page "/menu"
@inject HttpClient Http

<PageTitle>メニュー - カイロ&エステ sunny</PageTitle>

<section>
  <h1 class="sunny-title">メニュー</h1>
</section>

<section>
  <p>表示価格は税別価格です。<br>
    初めての方はお時間+30分と初診料¥1,100頂戴致します。<br>
    完全予約制です。ご予約をお願い致します♪</p>
</section>

<section>
  <h2 class="sunny-subtitle">カイロプラクティックメニュー</h2>
  <div class="sunny-menu-container">
    <div class="sunny-menu-item sunny-card">
      <h3 class="sunny-menu-title">全身調整（60分）¥4,950</h3>
      <div class="sunny-menu-content">
        <p>骨盤を中心に整え、肩や腰、首も整えます♪</p>
        <p>こんな人にオススメです( ･ᴗ･ )♡</p>
        <ul>
          <li>肩がこってガチガチの方</li>
          <li>腰痛持ちの方</li>
          <li>猫背が気になる方</li>
          <li>ストレートネックで首に痛みがある方</li>
          <li>足のむくみが気になる方</li>
          <li>お疲れ、疲れやすい方など</li>
        </ul>
      </div>
    </div>
    <div class="sunny-menu-item sunny-card">
      <h3 class="sunny-menu-title">HBPT一日体験（90分）¥13,200</h3>
      <div class="sunny-menu-content">
        <p>骨盤調整＆全身調整付♪<br>
          完全オーダーメイドのパーソナルトレーニングで<br>
          ご自分の理想のなりたいBODYを手に入れられます(☆∀☆)✨<br>
          通常は１ヶ月以上のコースですが、<br>
          気になる方や一度体験してみたい方へのお試しメニューです。</p>
      </div>
    </div>
    <div class="sunny-menu-item sunny-card">
      <h3 class="sunny-menu-title">ボディメイキング（120分）¥16,500</h3>
      <div class="sunny-menu-content">
        <p>骨盤調整＆全身調整付きで<br>
          理想的なBODY✨へと導きます♡<br>
          あなたのお悩みに合わせた施術で一回で驚くほどの効果が！<br>
          早く結果を出したい方、<br>
          骨盤ダイエットの体験希望の方などにオススメです♪</p>
      </div>
    </div>
  </div>
</section>

<section>
  <h2 class="sunny-subtitle">エステメニュー</h2>
  <div class="sunny-menu-container">
    <div class="sunny-menu-item sunny-card">
      <h3 class="sunny-menu-title">極上デコルテ（60分）¥6,600</h3>
      <div class="sunny-menu-content">
        <p>骨盤調整付♪<br>
          通常のデコルテエステのワンランク上の施術になります✨<br>
          日々の頑張りへのご褒美にも♡<br>
          フェイシャルとセットが一番人気です🙆◎<br>
          ※特別セット価格あり</p>
      </div>
    </div>
    <div class="sunny-menu-item sunny-card">
      <h3 class="sunny-menu-title">フェイシャル（90分）¥13,200</h3>
      <div class="sunny-menu-content">
        <p>骨盤調整付♪<br>
          モンモリロナイトをふんだんに使って<br>
          毛穴の汚れを綺麗に洗浄した後、<br>
          オールハンドでお客様一人一人のお肌の<br>
          お悩みに合わせたトリートメントを行います。<br>
          施術後は化粧水、美容液でしっかりお肌を整え、<br>
          ご希望のお客様にはお化粧までさせていただきます٩( 'ω' )و ✨</p>
      </div>
    </div>
    <div class="sunny-menu-item sunny-card">
      <h3 class="sunny-menu-title">スペシャルコース（150分）¥22,000</h3>
      <div class="sunny-menu-content">
        <p>骨盤調整付で、全身調整、小顔調整、フェイシャル、<br>
          極上デコルテ、ヘッドスパがセットのお得なコース(☆∀☆)✨<br>
          ブライダルや特別な日のご準備、<br>
          普段のご自分のスペシャルケアとして<br>
          ぜひ、ご活用ください♪</p>
      </div>
    </div>
  </div>
</section>

<section>
  <p>他にもMENU有ります♪<br>
    詳細は公式LINEアカウントをチェックしてください☆<br>
    お得な会員様限定価格もあります♪</p>
</section>

@* <p>This component demonstrates fetching data from the server.</p>

  @if (forecasts == null)
  {
  <p><em>Loading...</em></p>
  }
  else
  {
  <table class="table">
  <thead>
  <tr>
  <th>Date</th>
  <th>Temp. (C)</th>
  <th>Temp. (F)</th>
  <th>Summary</th>
  </tr>
  </thead>
  <tbody>
  @foreach (var forecast in forecasts)
  {
  <tr>
  <td>@forecast.Date.ToShortDateString()</td>
  <td>@forecast.TemperatureC</td>
  <td>@forecast.TemperatureF</td>
  <td>@forecast.Summary</td>
  </tr>
  }
  </tbody>
  </table>
  }

  @code {
  private WeatherForecast[]? forecasts;

  protected override async Task OnInitializedAsync()
  {
  forecasts = await Http.GetFromJsonAsync<WeatherForecast[]>("sample-data/weather.json");
  }

  public class WeatherForecast
  {
  public DateTime Date { get; set; }

  public int TemperatureC { get; set; }

  public string? Summary { get; set; }

  public int TemperatureF => 32 + (int)(TemperatureC / 0.5556);
  }
  } *@
